* {
	margin: 0;
	padding: 0;
	list-style-type: none;

}
body{
	background:#202124;
}
.nav{
	background: #1E1F25;
	border-bottom: 1px solid white;
}
.nav a{
  text-transform: uppercase;
  cursor: pointer;
	margin: auto;
  float: right;
}
.nav ul{
	display: flex;
	width: 100%;
	height: 50px;
	margin: auto;
	max-width: 1000px;
	justify-content: space-between;
	text-align: center;
}
.nav li{
	padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;

	min-width: 80px;
	margin: auto;
}

.nav li a:hover {
  color: #27262c;
  text-shadow: 0 -1px 0 white;
}
a{
  text-decoration:none;
  color: #ebebeb;
}
.nav li .right a{

}
.dropbtn {
  background: #1E1F25;
  padding: 16px;
  border: none;
  cursor: pointer;
  width: 30px;
  display: block;
}
.dropbtn div{

}
.one{
  width: 30px;
  background-color: white;
}
.two{
  width: 20px;
  background-color: white;

}
.three{
  width: 25px;
  background-color: white;
  text-align: left;
}
.dropbtn div {
  height: 4px;
  margin: 5px -20px;
  border-radius: 25px;
}
.dropdown:hover .one{
  width: 30px;
}
.dropdown:hover .two{
  width: 30px;
}
.dropdown:hover .three{
  width: 30px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background: #1E1F25;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;

  min-width: 80px;
}

.dropdown-content a {
  text-decoration:none;
  color: #ebebeb;
  padding: 1px 0px;
  text-decoration: none;
  margin: 0;

}
.content{

}
.dropdown-content a:hover {
  color: #27262c;
  text-shadow: 0 -1px 0 white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #27262c;
  text-shadow: 0 -1px 0 white;
}
.box{
	width: 100%;
	margin: 2px;
	border-radius:6px;
	height: 35px;
	border-width: thin;
	border-color: gray;
}
.label{

}
.sbtn{

}
.himg{
	width:100%;
	border-radius:6px;
	margin: 5px;
	box-shadow: 5px 10px 20px 10px black;
}
.img-div{
	position: relative;
	text-align: center;
	color: white;
	width: 300px;
}
.name{
	display: none;
	position: absolute;
	bottom: 1px;
	left: 50%;
	transform: translate(-50%, -50%);
}
.img-div:hover .name{
	display: block;
}
.img-div:hover .himg{
	box-shadow: 5px 10px 50px 10px black;
}
.form-class{

}

.cnt{
	margin: auto;
	width: 40%;
	padding-top: 20%;
}
div.bloge{
	border: 1px solid white;
	background: #202124;
	border-radius: 10px;
	margin: 5px;
	color: white;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 155px
}
div.bloge:hover img{
	display: none;
}
div.bloge:hover h1{
	display: none;
}
div.bloge:hover h2{
	display: none;
}
.bloge h1{
	margin: 13px;
	float: left;
}
.bloge h2{
	float:right;
	padding: 0 10px;
}
.bloge img{
	height: 150px;
	padding: 1px;
	float:left;
}
.bloge h1{
	display: contents;
	padding: 0 10px;
}
p.paras{
	text-overflow: ellipsis;
	padding: 5px 20px;
	line-height: 1.1;
}
