{% extends "template.html" %}
{% block content %}
<div class="storep">
  <img src="/static/tree-736885__480.jpeg" alt="tree">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <a class="pr">price</a>
</div>
<div class="storep">
  <img src="/static/tree-736885__480.jpeg" alt="tree">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <a class="pr">price</a>
</div>
<div class="storep">
  <img src="/static/tree-736885__480.jpeg" alt="tree">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <a class="pr">price</a>
</div>
{% endblock content %}
